.feature {
    font-size: 1.4rem;
    font-family: "Noto Sans Japanese";
}
.feature-header__title--size-small {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.3;
}
.feature-header__title--size-big {
    font-size: 6rem;
    font-style: normal;
    color: #fff;
    -webkit-text-stroke: 1px #EA5504;
    font-family: "Montserrat";
    letter-spacing: 3px;
}
.feature-header__subtitle {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 38px;
}
.feature-header__subtitle--color {
    color: #EA5504;
}
.feature-contents {
    position: relative;
}
.feature-contents__list {
    margin-top: 50px
}
.feature-contents__item {
    color: #fff;
    position: relative;
    margin: -40px calc(50% - 50vw) 0;
}
.feature-contents__item:nth-child(2) {
    z-index: 100;
    margin: -40px auto 0;
}
.feature-contents__img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.feature-contents-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
}
.feature-contents__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.feature-contents__contact {
    position: absolute;
    bottom: 0;
}

@media screen and (min-width:768px) {

}