@charset "UTF-8";
html {
  font-size: 62.5%; /*16px*62.5%=10px*/
  /* 1rem = 10px */
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", "Yu Gothic", "ヒラギノ角ゴシック Pro",
    "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "HiraKakuProN-W3",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ",
    "MSPゴシック", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#container{
  margin-left: 20px;
  margin-right: 20px;
}
.firstcontent{
    background-image: url(../img/parts/background/tw_gunya_sp/gunya_001.png);
    background-repeat: no-repeat;
}
.firstcontent__sentence{
    padding-top: 87px;
    text-align: center;
}
.firstcontent__heading{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 33px;
}
.firstcontent__color{
    color: #ea5504;
}
.firstcontent__text{
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.firstcontent__img{
    width: 100%;
    margin-bottom: 60px;
}

@media screen and (min-width:768px) {
  /*PC版のスタイルはここに記載する*/
  #container{
    margin-left: 140px;
    margin-right: 140px;
  }
}
